.menu-item{
    color: rgb(7, 7, 7) !important;
 margin-left: 20px;
}
.menu{
margin-left: 400px;
}
.menu-item:hover{
    color: rgba(0, 145, 255, 0.737) !important;
    transition: 0.5s;
}
.text-break{
    font-size: 90px !important;
   margin-top: 200px !important;
   margin-left: 60px !important;
   
}
.conteiner-flued{
   font-size: 25px;
   line-height: 40px;
   font-weight: 600;
   margin-left: 40px;
}
.fs-1{
    margin-left: 40px;

}
.head{
    color:rgb(18, 111, 249);
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
}